<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Dashboard</title>
</head>

<body>
    <div>
        <ul class="horizontal navbar">
            <li><a href="/users/dashboard">Home</a></li>
            <% if (usertype === 'both' || usertype === 'pet_owner') { %>
            <li>
                <div class="dropdown">
                <button class="dropbtn">Pet Owner
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/pets">My Pets</a>
                  <a href="/bid/find">Place a bid</a>
                  <a href="/bid/petOwner">My bids</a>
                </div>
              </div>
            </li>
            <% } %>
            <% if (usertype === 'both' || usertype === 'care_taker') { %>
            <li>
                <div class="dropdown">
                <button class="dropbtn">Care Taker
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/availability">My availabilities</a>
                  <a href="/leave">My Leaves</a>
                  <a href="/bid/careTaker">Bids for me</a>
                  <a href="/summary">My monthly summaries</a>
                </div>
              </div>
            </li>
            <% } %>
            <% if (usertype === 'admin') { %>
            <li>
                <div class="dropdown">
                <button class="dropbtn">Admin
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/basePrice">Manage base prices</a>
                </div>
              </div>
            </li>
            <% } %>
            <li style="float:right"><a href="/users/logout">Logout</a></li>
            <li style="float:right"><a>Logged in as <%= user %></a></li>

        </ul>
    </div>
    <div class="content">
        <h2>Welcome to Pet Caring Service (PCS)! </h2>
        <h4>Account Type: <%=account%></h4>
        <% if (account == "pet_owner" || account =="both") { %>
            <h3>
                As a pet owner you can: <br>
                <a href="/pets">Manage your pets</a><br>
                <a href="/users/dashboard/bids">Bid for service</a>
            </h3>
        <% } %>
        <% if (account == "care_taker" || account =="both") { %>
            <h3>
                As a care taker you can:
                <a href="/availability">Manage Availability</a>
                <a href="/leave">Manage leaves</a>
                <a href="/users/dashboard/bids">Check your bids</a>
            </h3>
        <% } %>
    </div>
</body>

</html>